
$backImg: url(../img/m-h-day.jpg);
$textColor: black;
$pageBack: #fff;
$joinButton: #699900;
$mainBack: #21232e;
$startGrad: #66960a;
$endGrad: #2f5dd1;
$footBack: #21232e;
$word: #14a0c7;

$mainText: ('Source Sans Pro', sans-serif);
$justText: ('Hind', sans-serif);
