
$backImg: url(../img/m-h-night.jpg);
$textColor: black;
$pageBack: #21232e;
$joinButton: #e3ac00;
$mainBack: #3b3f50;
$startGrad: #dfa504;
$endGrad: #8d334f;
$footBack: #3b3f50;
$word: #ff4e33;

$mainText: ('Source Sans Pro', sans-serif);
$justText: ('Hind', sans-serif);
